/* start div avval */
main>div.category{
    width: 100%;
    height: 148px;
    /* background-color: aqua; */
    text-align: center;
}
main>div.category>div{
    display: inline-block;
    width: 85px;
    height: 115px;
    margin: 0 30px;
    transform: translateY(20px);
}
main>div.category>div>a{
    text-decoration: none;
}
main>div.category>div>a>div{
    border-radius: 50%;
    border: 2px solid red;
    height: 80px;
    width: 80px;
    line-height: 80px;
    text-align: center;
}
main>div.category>div>a>p{
    color: #333333;
    margin-top: 5px;
    font-size: 14px;
}   
main>div.category>div>a>div>img{
border-radius: 50%;
width: 70px;
height: 70px;
display: block;
position: relative;
top: 50%;
left: 50%;
transform: translate(-60%,-50%);
}
/* end div avval */

/* start slider avval */
main>div.slider-avval{
    width: 100%;
    height: 400px;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* end slider avval */

  /* start category dovvom */
main>div.category-dovvom{
    width: 100%;
    height: 145px;
    text-align: center;
    /* background-color: yellow; */
}
main>div.category-dovvom>div{
    display: inline-block;
    width: 118px;
    height: 80px;
    margin: 0 20px;
    transform: translateY(30%);
}
main>div.category-dovvom>div>a{
    text-decoration: none;
}
main>div.category-dovvom>div>a>div{
    width: 52px;
    height: 52px;
    margin: 0 auto;
}
main>div.category-dovvom>div>a>div>img{
    width: 52px;
    height: 52px;
    display: block;
}
main>div.category-dovvom>div>a>p{
    font-size: 12px;
    transform: translateY(5px);
    color: #3F4064;
}
main>div.category-dovvom>div>a>div>img.gerd{
    background-color: #F1F2F4;
    border-radius: 50%;
}
/* end category dovvom */

/* start slider dovvom */
main>div.slider-dovvom{
    height: 286px;
    background-color: #EF394E;
}
main>div.slider-dovvom>a{
    text-decoration: none;
}
main>div.slider-dovvom>a>div.rast{
    height: 246px;
    width: 145px;
    /* display: inline-block; */
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}
main>div.slider-dovvom>div.chap{
    height: 246px;
    width: 1130px;
    /* display: inline-block; */
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
main>div.slider-dovvom>div.chap>a{
    text-decoration: none;
}

.swiper {
    width: 100%;
    height: 100%;
  }

 div.chap .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 182px !important;
    height: 246px !important;
  }
  div.chap .swiper-slide:nth-child(1){
    width: 150px;
    height: 150px;
  }
  div.chap .swiper-slide:nth-child(1)>:nth-child(1){
    margin: 0 15px;
  }  
  div.chap .swiper-slide:nth-child(1)>:nth-child(1)>img{
    width: 150px;
    height: 150px;
    position: relative;
    top: 10px;
  }
  div.chap .swiper-slide:nth-child(1)>:nth-child(2){
    width: 150px;
    height: 34px;
    margin-top: 10px;
    background-color: yellow;
  }
  div.chap .swiper-slide:nth-child(1)>:nth-child(2)>:nth-child(1){
    
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  main>div.slider-dovvom>a>div.rast>div.one{
    height: 75px;
    width: 75px;
    margin-right: 50px;
    margin-top: 5px;
  }
  main>div.slider-dovvom>a>div.rast>div.one>img{
    height: 75px;
    width: 75px;
  }
  main>div.slider-dovvom>a>div.rast>div.two{
    height: 120px;
    width: 135px;
    margin-top: 10px;
  }
  main>div.slider-dovvom>a>div.rast>div.two>img{
    height: 120px;
    width: 135px;
    margin-right: 20px;
  }
  main>div.slider-dovvom>a>div.rast>div.three{
    margin-right: 15px;
    text-align: center;
    margin-top: 5px;
  }
  main>div.slider-dovvom>a>div.rast>div.three>span{
    color: white;
    font-size: 14px;
    display: inline-block;
    font-weight: bold;
  }