/* header 1 start */
main{
    width: 100%;
}
main>header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1651216546;
    background-color: white;
}
header>div.header-1{
    width: 100%;
    height: 68px;
}
header>div.header-1>div.logo-digikala{
    width: 150px;
    height: inherit;
    float: right;
}
header>div.header-1>div.logo-digikala>svg{
    position: relative;
    top:calc(50% - 30px / 2);
    left: calc(28% - 115px / 2);
}
header>div.header-1>div.search{
    width: 650px;
    height: inherit;
    float: right;
}
header>div.header-1>div.search>form{
    width: inherit;
    height: inherit;
    position: relative;
}
header>div.header-1>div.search>form>div{
    position: absolute;
    display: inline-block;
    z-index: 2;
    top: 23px;
    right: 20px;
    color: #767790;
    font-size: 18px;
}
header>div.header-1>div.search>form>input[type=search]{
    width: 600px;
    height: 43px;
    transform: translateY(25%);
    border-radius: 8px;
    padding-right: 10px;
    outline: unset;
    border: none;
    background-color: #f1f2f4;
}
header>div.header-1>div.search>form>input[type=search]:focus{
    background-color: white;
    color:#a4a5b6;
    border-bottom:1px solid aqua;
}
header>div.header-1>div.search>form>input[type=search]:focus + div{
    display: none;
}
header>div.header-1>div.search>form>input[type=search]::placeholder{
    font-family: iranyekan;
    color: #767790;
    font-size: 12px;
    transform: translateX(-40px);   
}
header>div.header-1>div.register{
    width: 226px;
    height: inherit;
    float: left;
}
header>div.header-1>div.register>div.enter{
    width: 136px;
    height: 40px;
    border: 1px solid #eaeaee;
    border-radius: 8px;
    text-align: center;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
}
header>div.header-1>div.register>div.enter>div.one{
    display: inline-block;
    height: inherit;
    transform: translateY(2px);
}
header>div.header-1>div.register>div.enter>div.one>a{
    height: inherit;
    display: inline-block;
    color: #3f4064;
}
header>div.header-1>div.register>div.enter>div.one>a>i{
    font-size: 20px;
    transform: rotate(180deg);
}
header>div.header-1>div.register>div.enter>div.two{
    display: inline-block;
    transform: translateY(-3px) !important;
    transform: translateX(-5px);
}
header>div.header-1>div.register>div.enter>div.two>a{
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    color: black;
    font-weight: bold;
}
header>div.header-1>div.register>div.kart{
    display: inline-block;
    height: inherit;
    line-height: 40px;
}
header>div.header-1>div.register>div.kart>a{
    font-size: 25px;
    font-weight: bold;
    color: #eaeaee;
    display: inline-block;
    cursor: unset;
}
header>div.header-1>div.register>div.kart>a>i{
    margin-right: 25px;
    font-size: 20px !important;
    transform: translateX(10px);
    transform: rotateY(180deg);
    color: #3f4064 ;
    cursor: pointer;
}
header>div.clear{
    clear: both;
    display: none;
}
/* header 1 end */

/* header 2 start */
div.header-2{
    width: 100%;
    height: 40px;
    box-shadow: 1px 1px 1px #f5f5f5;
}
div.header-2>div.menu{
    width: 80%;
    height: inherit;
    float: right;
    /* background-color: blueviolet; */
}
div.header-2>div.menu>nav{
    width: inherit;
    height: inherit;
}
div.header-2>div.menu>nav>ul{
    width: auto;
    height: inherit;
}
div.header-2>div.menu>nav>ul>li{
    width: auto;
    height: inherit;
    display: inline-block;
    font-size: 12px;
    line-height: 40px;
    margin-right: 10px ;
    
}
div.header-2>div.menu>nav>ul>li:hover{
    border-bottom:3px solid #ef394e;
}
div.header-2>div.menu>nav>ul>li>a>div.bars{
    width: auto;
    height: inherit;
    display: inline-block;
    margin-left: 5px;
    transform: translateY(2px);
    line-height: 40px;
}
div.header-2>div.menu>nav>ul>li>a>div.bars>i{
    font-size: 13px;
}
div.header-2>div.menu>nav>ul>li>a{
    text-decoration: none;
    color: #3f4064;
    margin: 0 10px;
}
div.header-2>div.menu>nav>ul>li:nth-child(1){
    font-weight: bold;
    font-size: 14px !important;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu{
    position: absolute;
    /* background-color: blueviolet; */
    right: 20px;
    height: 80vh;
    width: 95vw;
    display: none;
    z-index: 123;
    background-color: white;
}
div.header-2>div.menu>nav>ul>li:hover>div.mega-menu{
    display: block;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent{
    width: 12%;
    height: inherit;
    
    /* background-color: brown; */
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul{
    width: 100%;
    height: inherit;
    border-left: 1px solid #f1f2f4;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li{
    width: inherit;
    height: 8%;
    list-style: none;
    padding: 10px;
    position: relative;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>a{
    display: block;
    text-decoration: none;
    font-size: 12px;
    color: #414266;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li:hover{
   
    background-color: #f8f8f9;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>a:hover{
    color: #ef3b50;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li:hover>div.digital{
    display: block;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.digital{
    position: absolute;
    width: 84vw;
    height: 80vh;
    /* background-color: crimson; */
    right: 100%;
    top: 0;
    display: none;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.digital>div{
    display: inline-block;
    width: 16%;
    height: calc(80vh - 40px);
    /* background-color: blue; */
    vertical-align: top;
    margin-left: -5px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.digital>div:first-child{
    display: block;
    width: 100%;
    height: 40px;
    /* background-color: green; */
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.digital>div:nth-child(2){
    margin-right: 20px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.digital>div>a{
    text-decoration: none;
    color: #3f4064;
    display: block;
    padding-right: 30px;
    font-size: 12px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.digital>div>ul{
    list-style: none;
    padding:10px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.digital>div>ul>li{
    width: inherit;
    height: 30px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.digital>div>ul>li>a{
    text-decoration: none;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.digital>div>ul>li>a:hover{
    color: #ef4056;
}
.bozorg{
    color: #080a38;
    font-size: 14px;
}
.kochik{
    color: #ababbb;
    font-size: 12px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.digital>div>ul>li>a>p{
    color: #ef4056;
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}
/* end of digital */

/* start of mobile */
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li:hover>div.mobile{
    display: block;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.mobile{
    position: absolute;
    width: 84vw;
    height: 80vh;
    display: none;
    /* background-color:green; */
    right: 100%;
    top: -100%;   
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.mobile>div{
    display: inline-block;
    width: 19%;
    height: calc(80vh - 40px);
    /* background-color: blue; */
    vertical-align: top;
    margin-left: -5px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.mobile>div:first-child{
    display: block;
    width: 100%;
    height: 40px;
    /* background-color: pink; */
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.mobile>div:nth-child(2){
    margin-right: 20px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.mobile>div>a{
    text-decoration: none;
    color: #3f4064;
    display: block;
    padding-right: 30px;
    font-size: 12px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.mobile>div>ul{
    list-style: none;
    padding:10px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.mobile>div>ul>li{
    width: inherit;
    height: 30px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.mobile>div>ul>li>a{
    text-decoration: none;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.mobile>div>ul>li>a:hover{
    color: #ef4056;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.mobile>div>ul>li>a>p{
    color: #ef4056;
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}
/* end of mobile */

/* start of stuff */
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li:hover>div.stuff{
    display: block;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.stuff{
    position: absolute;
    width: 84vw;
    height: 80vh;
    display: none;
    /* background-color:green; */
    right: 100%;
    top: -200%;   
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.stuff>div{
    display: inline-block;
    width: 23%;
    height: calc(80vh - 40px);
    /* background-color: blue; */
    vertical-align: top;
    margin-left: -5px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.stuff>div:first-child{
    display: block;
    width: 100%;
    height: 40px;
    /* background-color: pink; */
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.stuff>div:nth-child(2){
    margin-right: 20px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.stuff>div>a{
    text-decoration: none;
    color: #3f4064;
    display: block;
    padding-right: 30px;
    font-size: 12px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.stuff>div>ul{
    list-style: none;
    padding:10px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.stuff>div>ul>li{
    width: inherit;
    height: 30px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.stuff>div>ul>li>a{
    text-decoration: none;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.stuff>div>ul>li>a:hover{
    color: #ef4056;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.stuff>div>ul>li>a>p{
    color: #ef4056;
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}
/* end of  stuff */

/* start fashion */
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li:hover>div.fashion{
    display: block;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.fashion{
    position: absolute;
    width: 84vw;
    height: 80vh;
    display: none;
    /* background-color:green; */
    right: 100%;
    top: -300%;   
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.fashion>div{
    display: inline-block;
    width: 19%;
    height: calc(80vh - 40px);
    /* background-color: blue; */
    vertical-align: top;
    margin-left: -5px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.fashion>div:first-child{
    display: block;
    width: 100%;
    height: 40px;
    /* background-color: pink; */
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.fashion>div:nth-child(2){
    margin-right: 20px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.fashion>div>a{
    text-decoration: none;
    color: #3f4064;
    display: block;
    padding-right: 30px;
    font-size: 12px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.fashion>div>ul{
    list-style: none;
    padding:10px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.fashion>div>ul>li{
    width: inherit;
    height: 30px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.fashion>div>ul>li>a{
    text-decoration: none;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.fashion>div>ul>li>a:hover{
    color: #ef4056;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.fashion>div>ul>li>a>p{
    color: #ef4056;
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}
/* end fashion */

/* start supermarket */
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li:hover>div.supermarket{
    display: block;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.supermarket{
    position: absolute;
    width: 84vw;
    height: 80vh;
    display: none;
    /* background-color:green; */
    right: 100%;
    top: -400%;   
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.supermarket>div{
    display: inline-block;
    width: 19%;
    height: calc(80vh - 40px);
    /* background-color: blue; */
    vertical-align: top;
    margin-left: -5px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.supermarket>div:first-child{
    display: block;
    width: 100%;
    height: 40px;
    /* background-color: pink; */
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.supermarket>div:nth-child(2){
    margin-right: 20px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.supermarket>div>a{
    text-decoration: none;
    color: #3f4064;
    display: block;
    padding-right: 30px;
    font-size: 12px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.supermarket>div>ul{
    list-style: none;
    padding:10px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.supermarket>div>ul>li{
    width: inherit;
    height: 30px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.supermarket>div>ul>li>a{
    text-decoration: none;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.supermarket>div>ul>li>a:hover{
    color: #ef4056;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.supermarket>div>ul>li>a>p{
    color: #ef4056;
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}
/* end supermarket */

/* start traditional */
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li:hover>div.traditional{
    display: block;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.traditional{
    position: absolute;
    width: 84vw;
    height: 80vh;
    display: none;
    /* background-color:green; */
    right: 100%;
    top: -500%;   
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.traditional>div{
    display: inline-block;
    width: 23%;
    height: calc(80vh - 40px);
    /* background-color: blue; */
    vertical-align: top;
    margin-left: -5px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.traditional>div:first-child{
    display: block;
    width: 100%;
    height: 40px;
    /* background-color: pink; */
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.traditional>div:nth-child(2){
    margin-right: 20px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.traditional>div>a{
    text-decoration: none;
    color: #3f4064;
    display: block;
    padding-right: 30px;
    font-size: 12px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.traditional>div>ul{
    list-style: none;
    padding:10px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.traditional>div>ul>li{
    width: inherit;
    height: 30px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.traditional>div>ul>li>a{
    text-decoration: none;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.traditional>div>ul>li>a:hover{
    color: #ef4056;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.traditional>div>ul>li>a>p{
    color: #ef4056;
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}
/* end traditional */

/* start toy */
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li:hover>div.toy{
    display: block;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.toy{
    position: absolute;
    width: 84vw;
    height: 80vh;
    display: none;
    /* background-color:green; */
    right: 100%;
    top: -600%;   
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.toy>div{
    display: inline-block;
    width: 19%;
    height: calc(80vh - 40px);
    /* background-color: blue; */
    vertical-align: top;
    margin-left: -5px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.toy>div:first-child{
    display: block;
    width: 100%;
    height: 40px;
    /* background-color: pink; */
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.toy>div:nth-child(2){
    margin-right: 20px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.toy>div>a{
    text-decoration: none;
    color: #3f4064;
    display: block;
    padding-right: 30px;
    font-size: 12px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.toy>div>ul{
    list-style: none;
    padding:10px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.toy>div>ul>li{
    width: inherit;
    height: 30px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.toy>div>ul>li>a{
    text-decoration: none;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.toy>div>ul>li>a:hover{
    color: #ef4056;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.toy>div>ul>li>a>p{
    color: #ef4056;
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}
/* end toy */

/* start car */
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li:hover>div.car{
    display: block;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.car{
    position: absolute;
    width: 84vw;
    height: 80vh;
    display: none;
    /* background-color:green; */
    right: 100%;
    top: -700%;   
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.car>div{
    display: inline-block;
    width: 19%;
    height: calc(80vh - 40px);
    /* background-color: blue; */
    vertical-align: top;
    margin-left: -5px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.car>div:first-child{
    display: block;
    width: 100%;
    height: 40px;
    /* background-color: pink; */
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.car>div:nth-child(2){
    margin-right: 20px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.car>div>a{
    text-decoration: none;
    color: #3f4064;
    display: block;
    padding-right: 30px;
    font-size: 12px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.car>div>ul{
    list-style: none;
    padding:10px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.car>div>ul>li{
    width: inherit;
    height: 30px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.car>div>ul>li>a{
    text-decoration: none;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.car>div>ul>li>a:hover{
    color: #ef4056;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.car>div>ul>li>a>p{
    color: #ef4056;
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}
/* end car */

/* start beauty */
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li:hover>div.beauty{
    display: block;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.beauty{
    position: absolute;
    width: 84vw;
    height: 80vh;
    display: none;
    /* background-color:green; */
    right: 100%;
    top: -800%;   
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.beauty>div{
    display: inline-block;
    width: 19%;
    height: calc(80vh - 40px);
    /* background-color: blue; */
    vertical-align: top;
    margin-left: -5px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.beauty>div:first-child{
    display: block;
    width: 100%;
    height: 40px;
    /* background-color: pink; */
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.beauty>div:nth-child(2){
    margin-right: 20px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.beauty>div>a{
    text-decoration: none;
    color: #3f4064;
    display: block;
    padding-right: 30px;
    font-size: 12px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.beauty>div>ul{
    list-style: none;
    padding:10px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.beauty>div>ul>li{
    width: inherit;
    height: 30px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.beauty>div>ul>li>a{
    text-decoration: none;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.beauty>div>ul>li>a:hover{
    color: #ef4056;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.beauty>div>ul>li>a>p{
    color: #ef4056;
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}
/* end beauty */

/* start home */
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li:hover>div.home{
    display: block;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.home{
    position: absolute;
    width: 84vw;
    height: 80vh;
    display: none;
    /* background-color:green; */
    right: 100%;
    top: -900%;   
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.home>div{
    display: inline-block;
    width: 16%;
    height: calc(80vh - 40px);
    /* background-color: blue; */
    vertical-align: top;
    margin-left: -5px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.home>div:first-child{
    display: block;
    width: 100%;
    height: 40px;
    /* background-color: pink; */
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.home>div:nth-child(2){
    margin-right: 20px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.home>div>a{
    text-decoration: none;
    color: #3f4064;
    display: block;
    padding-right: 30px;
    font-size: 12px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.home>div>ul{
    list-style: none;
    padding:10px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.home>div>ul>li{
    width: inherit;
    height: 30px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.home>div>ul>li>a{
    text-decoration: none;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.home>div>ul>li>a:hover{
    color: #ef4056;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.home>div>ul>li>a>p{
    color: #ef4056;
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}
/* end home */

/* start book */
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li:hover>div.book{
    display: block;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.book{
    position: absolute;
    width: 84vw;
    height: 80vh;
    display: none;
    /* background-color:green; */
    right: 100%;
    top: -1000%;   
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.book>div{
    display: inline-block;
    width: 19%;
    height: calc(80vh - 40px);
    /* background-color: blue; */
    vertical-align: top;
    margin-left: -5px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.book>div:first-child{
    display: block;
    width: 100%;
    height: 40px;
    /* background-color: pink; */
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.book>div:nth-child(2){
    margin-right: 20px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.book>div>a{
    text-decoration: none;
    color: #3f4064;
    display: block;
    padding-right: 30px;
    font-size: 12px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.book>div>ul{
    list-style: none;
    padding:10px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.book>div>ul>li{
    width: inherit;
    height: 30px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.book>div>ul>li>a{
    text-decoration: none;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.book>div>ul>li>a:hover{
    color: #ef4056;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.book>div>ul>li>a>p{
    color: #ef4056;
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}
/* end book */

/* strat sport */
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li:hover>div.sport{
    display: block;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.sport{
    position: absolute;
    width: 84vw;
    height: 80vh;
    display: none;
    /* background-color:green; */
    right: 100%;
    top: -1100%;   
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.sport>div{
    display: inline-block;
    width: 19%;
    height: calc(80vh - 40px);
    /* background-color: blue; */
    vertical-align: top;
    margin-left: -5px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.sport>div:first-child{
    display: block;
    width: 100%;
    height: 40px;
    /* background-color: pink; */
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.sport>div:nth-child(2){
    margin-right: 20px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.sport>div>a{
    text-decoration: none;
    color: #3f4064;
    display: block;
    padding-right: 30px;
    font-size: 12px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.sport>div>ul{
    list-style: none;
    padding:10px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.sport>div>ul>li{
    width: inherit;
    height: 30px;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.sport>div>ul>li>a{
    text-decoration: none;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.sport>div>ul>li>a:hover{
    color: #ef4056;
}
div.header-2>div.menu>nav>ul>li>div.mega-menu>div.parent>ul>li>div.sport>div>ul>li>a>p{
    color: #ef4056;
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}
/* end sport */

/* start div city */
div.header-2>div.city{
    width: 15%;
    height: inherit;
    float: left;
    /* background-color: blueviolet; */
}
#show{
    display: none;
}
div.header-2>div.city>div{
    text-align: center;
    line-height: 40px;
}
div.header-2>div.city>div>label{
    cursor: pointer;
    text-align: left;
    transform: translateX(10px);
    font-size: 12px;
}
div.header-2>div.city>div>div.farzand-radio{
    display: none;
    width: 460px;
    height: 608px;
    /* background-color: red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    z-index: 100;
}
#show:checked + div.farzand-radio{
    display: block;
}
div.header-2>div.city>div>div.farzand-radio>div:nth-of-type(1){
    width: 100%;
    height: 60px;
    border-bottom:1px solid #E0E0E6;
    background-color: whitesmoke;
}
div.header-2>div.city>div>div.farzand-radio>div:nth-of-type(2){
    width: 100%;
    height: 70px;
    background-color: whitesmoke;
}
div.header-2>div.city>div>div.farzand-radio>div:nth-of-type(3){
    width: 100%;
    height: calc(608px - 130px);
    background-color: whitesmoke;
    overflow-y:scroll;
    overflow-x: hidden;
}
div.header-2>div.city>div>div.farzand-radio>div:nth-of-type(1)>div.choose{
    width: 80%;
    height: inherit;
    /* background-color: aqua; */
    float: right;
}
div.header-2>div.city>div>div.farzand-radio>div:nth-of-type(1)>div.choose>p{
    text-align: right;
    transform: translateX(-10px);
    line-height: 60px;
}
div.header-2>div.city>div>div.farzand-radio>div:nth-of-type(1)>div.close{
    width: 20%;
    height: inherit;
    /* background-color: pink; */
    float: left;
    line-height: 60px;
    font-size: 20px;
}
div.header-2>div.city>div>div.farzand-radio>div:nth-of-type(1)>div.close>label{
    cursor: pointer;
}
div.header-2>div.city>div>div.farzand-radio>div:nth-of-type(3)>div{
    height: 57px;
    width: inherit;
    border-bottom: 1px solid #E0E0E6;
}
#close{
    display: none;
}
#close:checked ~ div.farzand-radio{
    display: none;
}

div.header-2>div.city>div>div.farzand-radio>div:nth-of-type(2)>p{
    text-align: right;
    line-height: 70px;
    transform: translateX(-50px);
    color: #19BFD3;
    cursor: pointer;
}

div.header-2>div.city>div>div.farzand-radio>div:nth-of-type(3)>div{
    text-align: right;
    color: #3F4064;
    transform: translateX(-10px);
    line-height: 57px;
    cursor: pointer;
}