*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: iranyekan;
    src: url(../../fonts/IRANYekanWeb.eot);
    src: url(../../fonts/IRANYekanWeb.ttf);
    src: url(../../fonts/IRANYekanWeb.woff);
    src: url(../../fonts/IRANYekanWeb.woff2);
}
:root{
    --color-low-emphasis:#9e9fb1;
}
body{
    font-family: iranyekan;
}